{% extends "model-page.html" %}

{% block content %}

<h1 style="text-align: center;">evento</h1> 

<!-- Att: absolutamente odeio mexer com html e css -->

<form action="{% url 'submit_evento' %}" method="POST"> {% csrf_token %}
    
    <div style="display: grid; justify-content: center;">
        <label>Título</label><br>
        {% if evento.id %}
        <input type="hidden" name="evento_id" value="{{ evento.id }}">
        {% endif %}
            <input type="text" name="titulo" value="{{ evento.titulo }}" /><br>
        <br>

        <label>Data Evento</label><br>
            <input type="date" name="data_evento" value="{{ evento.data_evento }}" /><br>
        <br>

        <label>Descrição</label><br>
            <textarea name="descricao" rows="5" cols="24">{{ evento.descricao }}</textarea><br>
        <br>
  
        
        <button type="submit">Salvar</button>

        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </div>
</form>

{% endblock %}